<label for="Choose User Icon"><b>Choose User Icon</b></label><br>
<div class="row">
      <div class="form-check form-check-inline col-sm-3">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="/avatar/1.png">
        <label class="form-check-label" for="inlineRadio1">1</label>
        <img class = "formimg" src = "/avatar/1.png"/>
      </div>
      <div class="form-check form-check-inline col-sm-3">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="/avatar/2.png">
        <label class="form-check-label col-sm-3" for="inlineRadio2">2</label>
        <img class = "formimg" src = "/avatar/2.png"/>
      </div>
      <div class="form-check form-check-inline col-sm-3">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="/avatar/3.png">
        <label class="form-check-label" for="inlineRadio3">3</label>
        <img class = "formimg" src = "/avatar/3.png"/>
      </div>    
      <div class="form-check form-check-inline col-sm-3">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="/avatar/4.png">
        <label class="form-check-label col-sm-3" for="inlineRadio4">4</label>
        <img class = "formimg" src = "/avatar/4.png"/>
      </div>
          <div class="form-check form-check-inline col-sm-3">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="/avatar/5.png">
        <label class="form-check-label" for="inlineRadio5 col-sm-3">5</label>
        <img class = "formimg" src = "/avatar/5.png"/>
      </div>
      <div class="form-check form-check-inline col-sm-3">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="/avatar/6.png">
        <label class="form-check-label" for="inlineRadio6">6</label>
        <img class = "formimg" src = "/avatar/6.png"/>
      </div>
    </div>