<!DOCTYPE html>
<html lang="en">
<head>
  <title>Source</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/source.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-inverse sticky navbar-color">
  <div class = "navbar-color">
    <div class="container-fluid.nav text-center">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/" style = color:black;>Home</a></li>
        <li><a href="/about" style = color:black;>About</a></li>
        <li><a href="/explore" style = color:black;>Explore</a></li>

        <%if(currentUser){%>
          <li><a href="/addProject" style = color:black;>Create</a></li>

          <%}else{%>
            <li><a href="/login" style = color:black;>Create</a></li>
            <%}%>

        <li><a href="/contact" style = color:black;>Contact</a></li>
      </ul>
      <h1 class="navbar-source" style = "color:black;padding-right: 5em;" href="#">SOURCE
        <img class = "logo" src="/logo.PNG" alt = "Image"></h1>

      <ul class="nav navbar-nav navbar-right" style="padding-top: 2%;">
        <div style = "float:left">
            <form action="/search" method="POST" style = "text-align: center; padding-bottom: 3%;">
              <input type="text" class="form-control"placeholder="Search" name="projectSearch"/>
              <!-- <button type="submit" class="btn btn-primary">Search</button> -->
            </form>
        </div>
        <% if(!currentUser){ %>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in" style = "color:black;"></span> Login</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-user" style="color:black"></span></a></li>
        <% }else{ %>
          <!-- <li style="font-size: 16px; color:black; padding:15px;">Logged in as

          <%= currentUser.username %> -->
	  <li><div class="dropdown">
	  <img src="<%= currentUser.avatar %>" width="45" alt="" class="img-circle">
	  <i class="fa fa-caret-down"></i>
	    <div class="dropdown-content" style="right:0;">
	            <h5>Logged in as: <%= currentUser.username %> </h5>
              <a href="/dashboard">User Dashboard</a>
              <a href="/logout">Logout</a>
            </div>

	   </div>
          </li>
      <li>
        <a href="/conversations" style="color: black"><i class="fa fa-envelope"></i></a>
      </li>
          <!-- </li> -->

          <!-- <li><a href="/logout"><span class="glyphicon glyphicon-log-out" style = "color:black"></span> Logout</a></li> -->
        <% } %>
      </ul>
    </div>
  </div>
  </div>
</nav>
<div class="container mainPageContainer">
