<!DOCTYPE html>
<html lang="en">
<head>
  <title>Source</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="source.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse sticky">
  <div class = "navbar-color">
    <div class="container-fluid.nav text-center">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/" style = color:black;>Home</a></li>
        <li><a href="#" style = color:black;>About</a></li>
        <li><a href="#" style = color:black;>Projects</a></li>
        <li><a href="#" style = color:black;>Contact</a></li>
      </ul>
      <h1 class="navbar-source" href="#">SOURCE
        <img class = "logo" src="logo.PNG" alt = "Image"></h1>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in" style = color:black;></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user" style="color:black"></span></a></li>
      </ul>
    </div>
  </div>
  </div>
</nav>
<div class="container mainPageContainer">