    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      margin-bottom: 0;

    }
    .navbar-color{
      background-color:#72c58a;
      color:black;
    }
    .item-mod{
      margin-bottom: 12em;
    }
    .navbar .navbar-source{
      display: inline-block;
      float:none;
      text-align:center;
      padding-right: 8em;
    }

    .the-button{
      background-color:lightgrey;
      border:none;
      color:white;
      padding: 15px;
      text-align: center;
      font-size: 16px;
    }
    .logo{
      height: 50px;
      padding-bottom: 15px;
    }
    .parent{
      position:relative;
      top:0;
      left:0;
    }
    .img1{
      width: 100%;
      height: 30%;
    }
    .SDG{
      height: 25%;
      width: 20%;
      position:absolute;
      top: 7%;
      left:75%;
    }
    .card-img-top{
      width: 100%;
      height: 30%;
    }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  .item{
      max-height: 500px;
      object-fit: cover;
  }



  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }