<!DOCTYPE html>
<html lang="en">
<head>
  <title>about</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="source.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<% include partials/sourceHeader %>

<div>
<h1>About Us</h1>
<hr>
</div>
<h3>Our mission</h3>
<p>
Source is the place for chairitible people find each other and support and create projects that help the world reach the <a href = https://www.un.org/development/desa/disabilities/envision2030.html target="_blank" >UN's 17 goals by 2030</a>.<br><br>
Here you can fund projects that will make a difference, and individuals or groups can submit their proposals for crowdfunding.<br><br>
It was created by Western Washington University students Adam Olson, Patrick Wees, Dylan Carpenter Grad Student, and Matthew Stepita in winter 2019.
</p>

<h3>Guide and help</h3>
<p>The homepage allows you to navigate the site and see the top projects.</p>
<p>Log in to fund projects you think are important.</p>
<p>You can create an account from the log in section in the top right hand corner of the header bar.</p>
<p>You can examine a project more closely by clicking on its title from the homepage or explore section.</p>
<p>The explore section allows you to search for projects you are interested in.</p>
<p>Each project has its own project page that should inform your decision to back it.</p>
<p>You may follow a project to keep tabs on it, or you may contribute to it with the back this project button.</p>
<p>In order to dynamically meet the needs of the variety of projects on Source,<br>
each project can have the <b>"All or Nothing"</b> model, which means that if the project does not meet its monitary goals by the deadline<br>
contributers are not expected to pay regardless, or the <b>"Keep it All model"</b>, for projects that require access to anything <br>
contributers have to offer, and is not guerenteed to meet the goal.</p>


</p>





<% include partials/sourceFooter %>
