<% include partials/sourceHeader %>

<h1>Create a new project!</h1>
<form action="/addProject" method="POST">
  <input type="text" placeholder="Project Name..." name="newProjectName">
  <input type="text" placeholder="Cover Path..." name="newCoverPath">
  <textarea type="text" placeholder="Project Description..." name="newProjectDescription">
  </textarea>
  <button>Submit</button>
</form>

<% include partials/sourceFooter %>
