<% include partials/sourceHeader %>
<div class="loginSquare">
  <form action="/register" method="POST">
    <h1>Create a new account:</h1>
    <p>Please fill out this form to join Source</p>
    <hr>
    <label for="username"><b>Username</b></label><br>
    <input id="username" class = "form-control" type="text" name="username" placeholder="Username..."/><br>
    <label for="email"><b>Email</b></label><br>
    <input id="email"  class = "form-control" for="email" name="email" placeholder="Email..."/><br>
    <label for="password"><b>Password</b></label><br>
    <input id="password"  class = "form-control" type="password" name="password" placeholder="Password..."/><br>

    <% include partials/avatarChoices %>
    
    <!--buttons-->
    
    <div class="form-group">
    <label for="comment">Bio:</label>
    <textarea required class="form-control" rows="5" name="userBio" placeholder="Tell the community about yourself ..."></textarea>
    </div>      

    <!--<label for="password"><b>Confirm Password</b></label><br>-->
    <!--<input id="password"  class = "form-control" type="password" name="password" placeholder="Password..."/><br>-->
    <div>
    <label class="radio-inline"><input type="checkbox" name="sendEmails" checked>Keep me up to date with the projects I am following or funding via emails</label>
    </div>
    <br>
    <button style="margin-top: 5px;" class="btn btn-primary" onclick="validate()">Submit</button>
  </form>
</div>
<% include partials/sourceFooter %>

<script type="text/javascript">
  function validate(){
    var password = document.getElementById("password").innerHTML;
    var username = document.getElementById("username").innerHTML;
    var email = document.getElementById("email").innerHTML;
    //between 8-20 chars long, no _ or .
    var usernamePattern = "^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$";
    //ensures top level domain is between 2 and 4 chars long
    var emailPattern = "^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$";
    //must be between 4 and 8 chars and include at least one digit
    var passwordPattern = "^(?=.*\d).{4,8}$";
  }
</script>
