<% include partials/sourceHeader %>

<h1>Contact Info</h1>

<p>Get in touch with our devs <a>notarealemail@nowhere.com</a></p>
<p>Encountered an error, let us know!<a> donotgohere@aol.gov</a></p>
<% include partials/sourceFooter %>
