<% include partials/sourceHeader %>


<h1> <img src="<%= currentUser.avatar %>" width="45" alt="" class="img-circle" style="padding-bottom:10px"> Welcome to your Conversations </h1>

<% include partials/conversationContainer %>


<% include partials/sourceFooter %>