
<% include partials/sourceHeader %>

<h1>Search for a project</h1>

<form action="/search" method="POST">
  <input type="text" placeholder="Project" name="projectSearch"/>
  <button>Search</button>
</form>

<% include partials/sourceFooter %>
